<h4>User Login Information</h4>
This is simply for demonstration purposes to make it easier to log into the application.
<br />
<br />
<h5 class="text-decoration-underline">Regular User</h5>
regular@gmail.com
<br />
Regular123!
<br />
<br />
<h5 class="text-decoration-underline">Admin User</h5>
admin@gmail.com
<br />
Admin123!

@code {

}
