@page "/orderProducts"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = "Regular")]

<h3>Order Products</h3>

<ProductsComponent role="true"></ProductsComponent>



@code {

}
