@page "/viewProducts"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager

@attribute [Authorize(Policy = "Admin")]

<h3>Products</h3>

<ProductsComponent role="false"></ProductsComponent>

@*add a button to add new product*@
<button class="btn btn-primary" type="button" onclick="AddProduct">Add Product</button>



@code {
    private void AddProduct()
    {
        NavigationManager.NavigateTo("/addProduct");
    }
}
