.quickgrid[theme=corporate] {
    font-family: 'Comic Sans MS', 'Times New Roman', serif;
    color: red;
    border: 1px solid #CCC;
    font-size: 20px;
}

.quickgrid[theme=corporate] thead {
    background-color: antiquewhite;
}

.quickgrid[theme=corporate] .col-title {
    gap: 0.4rem; /* Separate the sort indicator from title text */
    font-weight: bold;
    text-transform: uppercase;
}

.quickgrid[theme=corporate] .sort-indicator {
    color: blue;
}

.quickgrid[theme=corporate] button.col-title:hover, .quickgrid[theme=corporate] .col-options-button:hover {
    background-color: hotpink;
}

.quickgrid[theme=corporate] button.col-title:active, .quickgrid[theme=corporate] .col-options-button:active {
    background-color: yellow;
}
